<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
 
    <% @team.each_with_index do |(postion, member), index| %>
    <h2><%= "#{@titles[index]}: #{member}" %></h2>
    <% end %>

 </body>
</html>


